@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);

#root {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

body,
html {
  margin: 0;
  font-family: muli;
  padding: 0;
  background: white;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.portfolio {
  width: 1140px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.toolbar {
  text-align: left;
  padding: 24px 0;
  background: white;
}

.toolbar-btn {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid black;
  background: white;
  color: black;
  border-radius: 0;
  font-size: 18px;
  font-weight: 500;
  min-width: 10px;
}

.toolbar-btn:focus {
  outline: none;
  border-color: black;
}

.toolbar-btn.active {
  background: black;
  color: white;
  border-color: black;
}

.toolbar-btn:hover:not(.active) {
  background: #555;
  border-color: black;
  color: #ddd;
}

.project-list {
  column-width: calc((1140px - 60px) / 3);
  column-gap: 25px;
  width: 100%;
  margin: 0 auto;
}

.project-item {
  break-inside: avoid;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.project-item img {
  width: 100%;
  height: auto;
  display: block;
}
